.active-white::after,
.active::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: 50px;
  left: 0;
  width: 20px;
}

.active::after {
  background-color: #132f40;
}

.active-white::after {
  background-color: white;
}

@media screen and (width < 1440px) {
  .active::after,
  .active-white::after {
    width: 10px;
    bottom: 30px;
  }
}

.pending {
  background-color: blue;
}
