@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  }

  h2 {
    font-size: 24px;
    margin: 32px 0;
  }
}

.primaryBtn {
  @apply text-xl text-white p-4 rounded-lg bg-[#0E344B];
}

.invalidForm {
  @apply mt-1 text-red-700;
}
